h1{text-align: center;
}

.singup-txt{
    color: transparent;
    -webkit-text-stroke: white;
    -webkit-text-stroke-width: 5px;
} 

.apples2{
    background-color:#242424
}



@media screen and (max-width: 960px) {
    
    .singup-txt{  
        color: transparent;
        -webkit-text-stroke: white;
        -webkit-text-stroke-width: 2px;
        font-size: 60px;
        
        }
  }