* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.about,



.services {
  background-image: url(Images/img-home.jpg);
  margin: 0;

  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 100px;
  height:95vh;
  border-bottom: black 2px solid;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
}

.about {
  background-image: url(Images/img-2.jpg);
  margin: 0;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  height: 95vh;
}

.sign-up {
  background-image: url(Images/img-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  color: #282626;
  font-size: 150px;
  border: solid 3px black;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 960px) {
    
  .services {
    background-image: url(Images/img-home.jpg);
    margin: 0;
    width: 100%;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 100px;
    height:90vh;
    border-bottom: black 2px solid;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
  }
  .about {
    background-image: url(Images/img-2.jpg);
    margin: 0;
    width: 100%;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 100px;
    height:90vh;
    border-bottom: black 2px solid;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
  }
}