.Forms{
    margin-left: 605px;
    margin-top:35px ;
     ;
    display:grid;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    padding: 50px;
   width: fit-content;
   background-color: white;
  border-radius: 10px;
  
  
    
}
.Form-wrapper {
  background-color: #242424;
}

.Email{
  text-decoration: none;
   padding-bottom: -10px;
    
    font-size: 21px;
    align-items: center;
}
input:hover{
  -webkit-transform: translate(0%, 0%) scale(1.1);
box-shadow: 2px 2px rgb(153, 153, 153);
border-radius: 10px;}

.Names{
    
    font-size:21px;
    align-items: center;
   
   
}

input {
  text-align: center;
  padding: 12px 200px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}
label,input{display: block;
            margin-top: -2px;
           
  
  }
.Submit{
  width:fit-content;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  margin-left: 50px;
  background-color: rgb(250, 248, 228);
 
}
.Submit:hover{

  background-color: rgb(255, 255, 255);
 
}
@media screen and (max-width: 820px) {
  .Forms{
    display:flex;
    flex-direction:column;
    text-align: center;
  }  
}