
.hero-container {
  height:90vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  border-bottom: 10px solid black;
}


.Titles{
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 90px;
  overflow: hidden;
}

.Titles > h1 {
  color: #fff;
  font-size: 90px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  
}
.Titles > h2 {
  color:  #fafafa;
  margin-bottom: 10px;
  font-size: 30px;
  margin-top: 0px;
  text-align: center;
  font-family: 'Playfair Display', serif;  }
.hero-container > h3 {
  color:  #fafafa;
  font-size: 35px;
  margin-top: 0px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.Titles > p {
  margin-top: 0px;
  color: #fff;
  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.hero-btns {
  margin-top: 5px;
  
}
.hero-btns-download {
  margin-top: 5px;
  
}

.hero-btns .btn {
  margin: 6px;
  align-items: center;
 
  
  
}


a{
  margin-right:20px;
  align-items: end;
}


.hero-btns-download {
  margin-top: 10px;
  margin: 10px;
  align-items:center;
  display: flex;
  position: relative;
  justify-content: left;
}
.bn45:hover{
  transform: scale(1.1);
}
.bn46:hover{
  transform: scale(1.1);
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: 150px;
  }
}

@media screen and (max-width: 768px) {
  .Titles >h1{
    font-size: 50px;
  }

  .hero-btns-download{
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
  @media screen and (max-width: 960px) {
      .Titles > h2 {
        font-size: 20px;
        margin-top: 5px;
      }
      h1{
        font-size: 10px;
      }
    }
    
    @media screen and (max-width: 768px) {
      .hero-container > h2 {
        font-size: 35px;
        margin-top: 10px;
      }
      h1{
        font-size: 10px;
      }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display:flex;
    text-decoration: none;
  }


  .btn {
    width: 100%;
  }
}